* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header, h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e6e7;
    justify-content: flex-end;
    gap: 25px;
    padding: 50px 100px 50px 50px;
    
}

.logo {
    margin-right: auto;
    margin-left: 100px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #e5e6e7;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.subMain1 {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-left: 150px;
    
}

.subMain1 button {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: #3882F6;
    color: white;
    border-width: 0;
}

.subMain1 h1 {
    font-size: 48px;;
}

.subMain1 h4 {
    font-size: 18px;
}

.subMain2 {
    display: flex;
    margin-right: 100px;
    

}

.image {
    flex-direction: row;
}

.second {
    background-color: red
}

.third {
    background-color: chartreuse;
}

.fourth {
    background-color: coral;
}

.fifth {
    background-color: plum;
}

footer {
    background-color: khaki;
}