* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

header, h1 {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e6e7;
    justify-content: flex-end;
    gap: 25px;
    padding: 50px 100px 50px 50px;
    
}

.logo {
    margin-right: auto;
    margin-left: 100px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: #e5e6e7;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.subMain1 {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-left: 150px;
    padding-bottom: 150px;
    
}

.subMain1 button {
    width: 120px;
    height: 35px;
    border-radius: 30px;
    background-color: #3882F6;
    color: white;
    border-width: 0;
}

.subMain1 h1 {
    font-size: 48px;;
}

.subMain1 h4 {
    font-size: 18px;
}

.subMain2 {
    display: flex;
    margin-right: 100px;
    

}

.image {
    flex-direction: row;
    
}

.second {
    font-size: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 25px;
    text-align: center;

}

.images {
    display: flex;
    gap: 25px;
    padding-top: 20px;
}

.images img {
    border-radius: 25px;
    border: solid rgb(21, 142, 186) 4px;
}

.subtext p {
    width: 200px;
    height:200px;
    font-size: 20px;
    
}

.third {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #e5e7eb;
    padding: 100px 350px 100px 100px;
    flex-direction: column;
    
    
    

}

.third .quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 800px;
    margin: 0;
}

.third p {
    margin: 0;
    font-size: 24px;
}



.fourth {
    background-color: white;
    
}

.fourthContain {
    display: flex;
    color: white;
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 22px;
}

.fourthContain button {
    width: 150px;   
    height: 50px;
    border-radius: 20px;
    border: solid white 4px;
    background-color: #3882f6;
    font-size: 16px;
    color: white;
}




footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 50px 400px;
}